/* Global */
@import url("https://use.typekit.net/yuc5kgr.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
	box-sizing: border-box;
}
body {
	color: rgba(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #007cc2 !important;
}

/* Navbar */
.FixedHeader {
	position: fixed;
	top: 0;
	margin: 0 0;
	z-index: 9999999;
	right: 0;
	left: 0;
	background: white;
	box-shadow: 0px 0px 5px lightgrey;
}
a.dropdown-toggle.nav-link {
	color: #007cc2 !important;
	margin-left: 1rem;
	font-size: 1rem;
}
.dropdown-menu {
	background: #007cc2 !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

.dropdown-item:hover {
	background-color: #fbba00 !important;
	color: #fff !important;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	padding-left: 1em;
}
.dropdown-item:focus,
.dropdown-item:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

.dropdown-item:hover {
	background-color: #fbba00 !important;
	color: #fff !important;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	padding-left: 1em;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.dropdown:hover .dropdown-menu {
	display: block;
	background-color: #007cc2 !important;
}
.nav-item > a.active,
.nav-item > a:active {
	background-color: #c9ddf1 !important;
	border-radius: .25rem;
	height: 2.75rem;
}
.dropdown-toggle::after {
	display: none !important;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}
.dropdown-item {
	background-color: #007cc2 !important;
	color: #fff !important;
}
a.dropdown-toggle.nav-link {
	pointer-events: none;
}
/* Navbar */

.Homecard-shadow {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	padding: 1.5rem 1.5rem 0rem 1.5rem;
	border: 1px solid white !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-ms-border-radius: 15px !important;
	-o-border-radius: 15px !important;
}
.Homecard-shadow:hover {
	box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}
.pointer {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	font-size: 2rem;
}
.pointerDown {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	font-size: 2rem;
}
.noLine {
	text-decoration: none !important;
}
/* Global */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/* Fonts */
.topFont {
	font-size: 10px;
	-webkit-text-fill-color: #fff !important;
}
.bg-logoblue {
	background-color: #007cc2 !important;
}

/* Fonts */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/* Sliders */
.carousel {
	position: relative;
	display: none;
}
/* Sliders */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*								Start Of Extra small devices (portrait phones, less than 576px)         */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
.cs_boxshadow {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden !important;
}
.social {
	color: #fff;
	font-size: 15px;
}
.border-grey-2px {
	border: 2px solid #ced4da !important;
}
.card-body h2 {
	font-family: Brother-1816;
	font-size: 19px;
	color: rgba(0, 0, 0, 1);
	font-weight: 600;
	font-style: normal;
}
.topFont {
	font-size: 10px;
	-webkit-text-fill-color: #fff !important;
}
ul.tabList.nav.flex-column > li > a {
	width: 22rem !important;
	color: rgba(0, 0, 0, 0.8);
	height: 10vh;
	-webkit-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	font-size: 12px;
	cursor: pointer;
	padding-left: 3.1rem;
}
.tab-content {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: justify;
}
ul.tabList.nav.flex-column {
	position: relative;
	z-index: 99999;
	width: 24.7rem !important;
}
.himage {
	width: 16rem;
}
.mimage {
	width: 16rem;
}
main {
	margin-top: 7.2rem;
}
.cardContent {
	margin-top: -7rem !important;
}
.cardHeight {
	border-bottom: 0rem solid #fff !important;
}
.ch2 {
	font-size: 1.6rem;
}
.fsize08 {
	font-size: 0.4rem;
}
.ch6 {
	font-size: 12px;
}
.navbar-brand {
	margin-left: 1rem;
}
.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0) !important;
}
.partikle {
	margin-top: -11rem !important;
}
.tbr {
	border-right: none;
}
.tbl {
	border-left: none;
}
.pl-6 {
	padding-left: 0%;
}
.stripfont {
	font-size: 15px;
}
.topFont {
	font-size: 11px;
	-webkit-text-fill-color: #fff !important;
}
.topCont {
	font-size: 11px !important;
}
.bg-top {
	background: #117dc2 !important;
	/* padding-right: 1rem !important; */
	height: 9vh;
}
.carousel-indicators {
	position: absolute;
	display: none !important;
}
.carousel {
	position: relative;
	display: none;
}
.ContactIframe iframe {
	margin-top: 0rem;
	height: 62rem !important;
	width: 100%;
	margin-bottom: -3rem;
}

iframe {
	width: 100%;
	height: 58rem;
}
#indFrame,
#usFrame {
	width: 100%;
	height: auto;
}
.fsize08 {
	font-size: 0.4em !important;
}
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*							End Of Extra small devices (portrait phones, less than 576px)            */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

/* ------------------------------------------------- */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*							Start Of Small devices (landscape phones, 576px and up)                  */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

@media (min-width: 576px) {
	.topFont {
		font-size: 10px;
		-webkit-text-fill-color: #fff !important;
	}
	ul.tabList.nav.flex-column > li > a {
		width: 22rem !important;
		color: rgba(0, 0, 0, 0.8);
		height: 10vh;
		-webkit-transition: all 500ms ease-in;
		transition: all 500ms ease-in;
		font-size: 12px;
		cursor: pointer;
		padding-left: 3.1rem;
	}
	.tab-content {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		text-align: justify;
	}
	ul.tabList.nav.flex-column {
		position: relative;
		z-index: 99999;
		width: 24.7rem !important;
	}
	.himage {
		width: 16rem;
	}
	.mimage {
		width: 16rem;
	}
	main {
		margin-top: 6.6rem;
	}
	.cardContent {
		margin-top: -7rem !important;
	}
	.cardHeight {
		border-bottom: 0rem solid #fff !important;
	}
	.ch2 {
		font-size: 1.6rem;
	}
	.fsize08 {
		font-size: 0.4rem;
	}
	.ch6 {
		font-size: 12px;
	}
	.navbar-brand {
		margin-left: 1rem;
	}
	.navbar-light .navbar-toggler {
		border-color: rgba(0, 0, 0, 0) !important;
	}
	.partikle {
		margin-top: -11rem !important;
	}
	.tbr {
		border-right: none;
	}
	.tbl {
		border-left: none;
	}
	.pl-6 {
		padding-left: 0%;
	}
	.stripfont {
		font-size: 15px;
	}
	.topFont {
		font-size: 11px;
		-webkit-text-fill-color: #fff !important;
	}
	.topCont {
		font-size: 11px !important;
	}
	.bg-top {
		background: #117dc2 !important;
		height: 8vh;
	}
	.carousel-indicators {
		position: absolute;
		display: none !important;
	}
	.carousel {
		position: relative;
		display: none;
	}
	.ContactIframe iframe {
		margin-top: 0rem;
		height: 62rem !important;
		width: 100%;
		margin-bottom: -3rem;
	}

	iframe {
		width: 100%;
		height: 58rem;
	}
	#indFrame,
	#usFrame {
		width: 100%;
		height: auto;
	}
	.fsize08 {
		font-size: 0.4em !important;
	}
}
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*								End Of Small devices (landscape phones, 576px and up) 																		*/
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

/* ------------------------------------------------------ */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*								Start Of Medium devices (tablets, 768px and up) 																								*/
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

@media (min-width: 768px) {
	main {
		margin-top: 6rem;
	}
	.topFont {
		font-size: 15px;
		-webkit-text-fill-color: #fff !important;
	}
	.topCont {
		font-size: 15px !important;
		text-decoration: none;
		color: #fff !important;
		font-weight: 400;
	}
	.carousel {
		position: relative;
		display: block;
	}
	.card-body h2 {
		font-family: Brother-1816;
		font-size: 19px;
		color: rgba(0, 0, 0, 1);
		font-weight: 600;
		font-style: normal;
	}
	.bg-top {
		background: #117dc2 !important;
		padding-right: 1rem !important;
		height: 6vh;
		padding-top: 6px;
	}
	.fsize08 {
		font-size: 0.8em !important;
	}
}

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*						End Of Tablet */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

/* ------------------------------------------------------ */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*					Start Of  Large devices (desktops, 992px and up)  																									*/
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

@media (min-width: 992px) {
	.navbar-expand-lg {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
}

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*    		End Of  Large devices (desktops, 992px and up) 																										 */
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

/* ------------------------------------------------------ */

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*					Start Of  Extra large devices (large desktops, 1200px and up)  												*/
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */

@media (min-width: 1200px) {
}

/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
/*					End Of  Extra large devices (large desktops, 1200px and up)  														*/
/* --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--* */
